[2014-12-09 14:23] rchailan opened #1 "bad password return 404 instead of 403"
Lorsque je rentre un mauvais user sur /login tu me renvoie 404, c'est ok puisque l'user n'existe pas.
Par contre si je mets un bon login d'utilisateur mais que je me trompe dans le password tu renvoie aussi 404, et je pense qu'il faudrait plutôt renvoyer 403 (forbidden)

[2014-12-09 14:32] rchailan opened #2 "Send back user info when created"
Lorsque je me connecte avec le bon login/password, tu me renvoie bien 200 et un header avec un cookie, mais ça aurait été cool de renvoyer les infos de l'utilisateur (id, token, username...) dans la réponse au lieu de renvoyer du vide, ça me permettrais de stocker dans MA session (ci) l'id user et tout (qui servira pour les notifs).

[2014-12-09 14:33] rchailan opened #3 "Refractor error messages in json"
Une note en ce qui concerne les messages d'erreur, on ne savait pas trop comment les renvoyer, voici comment ils font sur l'api twitter:

{"errors":[{"message":"Sorry, that page does not exist","code":34}]}

On pourrait s'en inspirer, ca permet de passer plusieurs messages si nécessaire.
Le code qu'ils ajoutent en fin de json viens en plus du code HTTP et permet de mieux détailler ce dernier (par

[2014-12-09 14:35] rchailan opened #4 "Update Postgis 1.5 -> 2.1"
Fabien veut que j'update postgis, pour ça faut reprendre les scripts d'install et scratcher le noeud

[2014-12-09 14:38] rchailan opened #5 "Refractor MFieldsite to RESTFul format"
Lorsque je tente de créer un fieldsite, ça le crée mais il n'a pas de nom et j'ai un message incorrect qui s'affiche malgré un code de retour HTTP 200 (OK):

08/12/2014 16:30:52 POST @ http://p4x-650.gateworld.fr:9082/explorer/fieldsite/add
Request
string '{"name":"test","fieldsite_id":0}' (length=32)
Response
object(HttpResponse)[19]
  private 'code' => int 200
  private 'raw_body' => string '{"c

[2014-12-09 14:39] rchailan opened #6 "MFieldsite in Session user"
A noter qu'on avait parlé de virer fieldsite_id de nos requêtes et de faire une fonction genre set_fieldsite(fieldsite_id) dans l'API qui garde en mémoire le choix du fieldsite courant de l'user.

[2014-12-09 14:40] rchailan opened #7 "MConfiguration Latest"
Sur l'accueil, /configurations/latest ne fonctionne pas :

09/12/2014 11:28:49 GET @ http://xxxx:9082/configurations/latest
Request Headers
array (size=1)
  'Cookie' => string 'PLAY_SESSION="3bda17ab85a2877a7a6c679a921f942921368a64-MIRMIDON-AUTH-TOKEN=85ddcb6e-4a60-403d-9da6-c6fd8e94b7ae"; Path=/; HTTPOnly' (length=130)
Request Body
array (size=0)
  empty
Response
object(HttpResponse)[18]
  privat

[2014-12-09 14:42] rchailan opened #8 "/commands/latest"
Issue when acceding to the resource :

Execution exception
[RuntimeException: get id on [models.m_core_user.MUser] type[java.lang.Long] threw error.]
In /data/MIRMIDON/unstable/mirmidon/LOGIC/app/controllers/m_command_scheduler/CommandManager.java at line 176.
173
174        ObjectNode container = Json.newObject();
175        ObjectNode commandListJson = Json.newObject();
176        List<MCommand>

[2014-12-09 15:08] rchailan opened #9 "Restore and Fix Git on development environment"

[2014-12-11 22:31] rchailan opened #10 "DRMAA seems to be un-activated on cluster"

[2014-12-11 22:36] rchailan commented on #10
Le push 03aeb23 est sensé corriger le bug. Cela venait de la configuration Local qui avait était poussée par mégarde sur le cluster.

@cyril-r Peux-tu tester un redémarrage de l'API pour voir si le bug est fixé ?

[2014-12-11 22:43] rchailan commented on #1
ok. Fixé dans le commit 4eb1f38.

[2014-12-11 22:43] #1 closed, assigned to rchailan

[2014-12-11 22:51] rchailan commented on #2
Fixé à partir du commit b785efd.

[2014-12-11 22:51] #2 closed, assigned to rchailan

[2014-12-11 22:52] rchailan commented on #4
@cyril-r  a adapté ses scripts pour migrer la version de postgis.

[2014-12-11 22:52] #4 closed, assigned to cyril-r

[2014-12-11 22:58] cyril-r commented on #10
API redémarrée, pas de message d'erreur.
Il faudrait un redéploiement du noeud pour être sur.

[2014-12-11 22:58] cyril-r commented on #9
Fixed.

[2014-12-11 22:58] #9 closed, assigned to cyril-r

[2014-12-11 23:01] rchailan commented on #7
Fixé avec le commit 4123c63.

[2014-12-11 23:01] #7 closed, assigned to rchailan

[2014-12-11 23:01] rchailan commented on #8
Fixé avec commit 4123c63

[2014-12-11 23:02] rchailan commented on #10
Je clos l'issue et on verra au prochain redéploiement si erreur il y a ou non. Mais normalement c'est ok. Merci !

[2014-12-11 23:02] #10 closed, assigned to rchailan

[2014-12-11 23:16] rchailan commented on #3
Ok. Ceci a été fixé sur POST /login à titre d'exemple. J'invite les développeurs de l'API à utiliser la méthode MJsonResultFactory.formatErrorMessage(code,message) pour bien formatter les message d'erreurs.

[2014-12-11 23:16] #3 closed, assigned to rchailan

[2014-12-12 10:02] cyril-r opened #11 "/login : Header Set-Cookie introuvable"
Lors de la connexion d'un user, le header Set-Cookie à disparu, il n'est plus possible pour GUI de sauvegarder le cookie de connexion envoyé par l'API.

Chose troublante, cela semble fonctionner via postman.
Dump de la requête et de la réponse API, on voit qu'il manque bien ce header (en bas) et la requête semble correctement formée.

12/12/2014 10:55:56 POST @ http://xxxxx:9082/login
Request Head

[2014-12-12 14:46] rchailan opened #12 "Install GMT 5.x on cluster"
Voir avec Fab pour plus de détail vis à vis d'un script d'install pour GMT.

[2014-12-12 14:48] rchailan opened #13 "INSTALL NCO 4.4.X"
Voir Romain si problème spécifique sur l'install ou script.

[2014-12-12 15:25] cyril-r commented on #11
Après investigations, si je me log et que je récupère via postman le cookie complet :

'Cookie' => string 'PLAY_SESSION="5a6186df16d1e2bbd3d54aa6fca24aeb1723bed4-MIRMIDON-AUTH-TOKEN=88f35667-af2e-44ce-af49-7205a19dad9a"' (length=112)

Et que je le reproduit via php, ça fonctionne.

Le problème est que lors du login, il n'y à plus d'entête "Set-Cookie" que je peux copier via le client WEB, vu que t

[2014-12-12 15:58] rchailan commented on #11
On peut passer MIRMIDON-AUTH-TOKEN=letoken en header si tu veux ? Je ne comprends tjrs pas trop pourquoi la session ca ne marche pas. Je trouvais ca un peu plus élégant car masqué des appels REST. À savoir qu'il va falloir également passer le FIELDSITE=fieldsite... On peut partir sur
0- l'API sauve dans cookie ET renvoie l'info token (/login) et fielsite (/fieldsite)
1- l'API lis les headers MIRMI

[2014-12-12 16:06] cyril-r commented on #11
Pour moi ça ne change rien, que le token soit transmis à l'API via cookie ou via header c'est pareil.

Au niveau de la récupération du token par le client, que ce soit via les header (et Set-Cookie comme avant) ou bien dans le json renvoyé par l'api, c'est pareil à coder.

Il faut simplement que quel que soit le cas, le protocole de communication du token ou de tout autre élément persistent d'iden

[2014-12-12 16:09] rchailan commented on #11
Ok on passe MIRMIDON-AUTH-TOKEN en header de chaque requete depuis le client vers l'API.
Ce token est récupéré au moment du /login dans le json de retour.

On fera de même pour FIELDSITE

[2014-12-12 16:10] cyril-r commented on #11
Vu, documentation à updater donc.
Je m'occupe d'updater mlogic_connect et la partie authentication de la GUI.

[2014-12-12 16:11] rchailan commented on #11
OK. La doc sera a reprendre de toute façon. Je vais faire une issue pour ca. Je vais assigner @jhuon :)

[2014-12-12 16:12] cyril-r commented on #11
Tu va avoir du mal il ne bosse plus littoral jusqu'au 21 si je ne me trompe pas :-)

[2014-12-12 16:15] rchailan opened #14 "Update documentation"
Since severals routes have been updated, please document again for :
# Fieldsite

GET     /fieldsites
GET     /fieldsite/$id<[0-9]+>
PUT     /fieldsite
DELETE  /fieldsite/$id<[0-9]+>
# M_CONFIGURATION_BUILDER

GET     /configurations
GET     /configuration/$id<[0-9]+>
GET     /configurations/latest
DELETE  /configuration/$id<[0-9]+>
# M_COMMAND_SCHEDULER
# Command

PUT     /command
GET     /comman

[2014-12-12 17:54] rchailan commented on #5
To test the API :  https://www.getpostman.com/collections/fb63a508e08ff1850850
Le fix est dans le commit _d342bf8_

[2014-12-12 17:54] #5 closed, assigned to nobody

[2014-12-12 17:57] rchailan commented on #6
Le fix est dans le commit _d342bf8_
Nous nous sommes entendus avec @cyril-r  sur le fait de passer le fieldsite dans le header. Toutefois lors de l'accès à un fieldsite GET /fieldsite/<fieldsite_id> le json descriptif de fieldsite contient l'id du fieldsite à stocker qui est lui même conserver dans la session PLAY sous l'index FIELDSITE.

[2014-12-12 17:57] #6 closed, assigned to nobody

[2014-12-12 18:01] rchailan commented on #11
Le process d'authentification a été corrigé. Désormais le /login renvoie le token qui doit être conservé côté client (il reste accessible dans la session/cookie PLAY mais difficilement accessible depuis PHP apparemment).
Pour des actions qui requiert une authentification, il faut bien placer MIRMIDON-AUTH-TOKEN=letoken pour ne pas se faire éjecter par l'API.
Il en va de même avec la notion de FIEL

[2014-12-12 18:01] #11 closed, assigned to rchailan

[2014-12-15 14:04] cyril-r commented on #8
Not working.

GET @ http://...:9082/configurations/latest
Execution exception
[NullPointerException: null]
In /data/MIRMIDON/unstable/mirmidon/LOGIC/app/controllers/m_configuration_builder/ConfigurationManager.java at line 155.
152     MUser user = MUser.find.where().eq("token", token).findUnique();
153
154     ObjectNode configurationsList = Json.newObject();
155        List<MConfiguration> MConf

[2014-12-15 14:32] rchailan commented on #8
Should be fixed by now

[2014-12-15 14:32] #8 closed, assigned to rchailan

[2014-12-15 14:33] rchailan opened #15 "websocket integration for mnotification"
À voir avec moi

[2014-12-16 10:52] cyril-r commented on #13
Install ok, doit être testé avant clôture du ticket.

[2014-12-16 11:02] rchailan commented on #13
J'ai testé ca marche bien. Il faudra a priori modifier le model dans /database/populate pour matcher le bon binaire nco;

[2014-12-16 11:02] #13 closed, assigned to cyril-r

[2014-12-16 11:23] cyril-r opened #16 "/configuration/model/list dysfonctionnel + réfactoring"
GET **http://...:9082/configuration/model/list?idFieldSite=1** ne fonctionne pas.

De plus l'appel devrait être sous la forme suivante:

GET **http://...:9082/configuration/model/list/<id_fieldsite>** si l'id du fieldsite peut être librement changé OU **http://...:9082/configuration/model/list/** si on utilise uniquement le fieldsite courant (connu par l'API et donc inutile de le préciser).

Ci-de

[2014-12-16 11:34] rchailan commented on #16
Je sais. C'est normal car c'est Fabien qui doit se charger de ceci. Il est au courant. Forcément c'est bloquant désormais...

[2014-12-18 15:25] rchailan opened #17 "add envelop attributes for MField"
Add attributes + modify constructor & Json

[2014-12-18 15:27] cyril-r commented on #12
C'est scripté, à tester lors du prochain redéploiement du noeud ... début 2015 :)

[2014-12-18 15:30] rchailan opened #18 "Mexplorer Routes for WMS client"
GET /layers or equivalent
GET /layer/<layer>/daterange
GET /layer/<layer>/timestep

Handle Fieldsite with cookie to put the envelop in SQL request

[2014-12-18 15:33] cyril-r commented on #12
L'issue n'est pas résolue, je garde mon ticket pour le fermer après les vacances si tout se passe bien lors de la réinstall.

[2014-12-20 09:59] fretif opened #19 "UnsatisfiedLinkError: Can't load library"
Est-ce que l'on pourrait faire en sorte que lorsque DRMAA n'est pas installé, l'api tourne en mode dégradée, c'est à dire que le module command scheduler ne soit pas disponible ??

Cheers

[2015-01-09 16:12] cyril-r commented on #12
done.

[mirmidon@Mirmidon-node-0-0 ~]$ gmt --version
5.1.1

[2015-01-09 16:12] #12 closed, assigned to cyril-r

[2015-01-13 07:15] rchailan opened #20 "API dynamic string for Drmaa"
final String libDrmaaPath = "/data/MIRMIDON/unstable/mirmidon/TOOLS/DrmaaJNI/target";

doit être converti en accès dynamique à la lib.

[2015-01-13 07:17] rchailan opened #21 "Fonction ftp-tree recursive explorer"
A fonction to return in json the (recursive) folders-tree of the ftp server.

[2015-01-13 07:20] rchailan opened #22 "Fonctions explorer (date, timestep/periodicity, layers, ...)"
Explorer fonctions to interface the geospatial database. Given a fieldsite, functions are interfacing the Geospatial-SQL queries to the Geospatial database.

[2015-01-13 07:21] rchailan commented on #18
Duplicated issue

[2015-01-13 07:21] #18 closed, assigned to rchailan

[2015-01-14 17:50] rchailan opened #23 "websocket multi canaux"

[2015-01-16 16:47] rchailan commented on #17
Fixed in push 04bd659

[2015-01-16 16:47] #17 closed, assigned to rchailan

[2015-01-16 16:50] rchailan commented on #15
Notifications avec websocket monochannel.

[2015-01-16 17:56] rchailan commented on #21
Available since push 13eead4

[2015-01-16 17:56] #21 closed, assigned to rchailan

[2015-01-16 17:57] rchailan commented on #16
a été réfractoré

[2015-01-16 17:57] #16 closed, assigned to rchailan

[2015-01-19 15:43] cyril-r opened #24 "Refactor fieldsites"
Discuté avec Fabien, des choses sont à changer au niveau des fieldsites:

Sur /fieldsite (PUT) : (Corriger les autres routes aussi.)
{
    "fieldsite_name": "megagol",
    "envelope": {
        "lon_min": 31,
        "lon_max": 45,
        "lat_min": -5,
        "lat_max": 17
    }
}

Should be :
Sur /fieldsite**s** (PUT)
{
    "name": "megagol",
    "envelope": {
        "crs_code" : "4326",

[2015-01-20 16:03] jhuon opened #25 "Nom de fieldsite unique"
L'API renvoie une erreur lorsqu'on essaye de créer un fieldsite avec un nom déjà existant.
Hors il est possible qu'une même utilisateur ou que différents utilisateurs appellent un fieldsite du même nom. Pourquoi limiter les noms de fieldsite que les utilisateurs peuvent entrer ?

[2015-01-20 16:04] rchailan commented on #25
parce qu'on est en V1

[2015-01-20 16:19] cyril-r commented on #25
Vu, pour la V2 donc.

[2015-01-20 16:25] rchailan commented on #24
normalement fixé. Mais probleme lors du push.

[2015-01-20 16:25] rchailan commented on #25
non en fait je l'ai corrigé. Ca venait d'un probleme de là V0.5.

[2015-01-20 16:25] #25 closed, assigned to rchailan

[2015-01-20 18:00] cyril-r commented on #24
Sorry, no :-(

(git remplacé et re-cloné)

(Server started, use Ctrl+D to stop and go back to the console...)

[info] Compiling 4 Scala sources and 84 Java sources to /data/MIRMIDON/unstable/mirmidon/LOGIC/api/target/scala-2.10/classes...
[warn] warning: Supported source version 'RELEASE_6' from annotation processor 'org.antlr.v4.runtime.misc.NullUsageProcessor' less than -source '1.7'
[warn] Note

[2015-01-20 18:21] rc-34 commented on #24
je sais je suis en train de faire des tests. ca va marcher mais il faut d'abord que je pousse le dernier commit. Pour l'heure je n'arrive pas a avoir la connection à la db.. surcharge ?

[2015-01-20 18:34] rchailan commented on #24
Probleme drmaa. Ce n'est pas la bonne issue.

[2015-01-20 18:35] rchailan opened #26 "Drmaa refractor"
Refractor drmaa pour que ca marche !!!!

[2015-01-20 18:37] rchailan commented on #26
@cyril-r : peux-tu faire un nouveau "run" de l'API (+ database populator ).
Attention je ne sais pas si tu peux directement tenter le mode de production étant donné que la DB doit se mettre à jour. Je pense qu'il faut faire d'abord un run, mettre à jour la db (en tapant direct sur mirmidon) puis après lancer en prod.

[2015-01-20 18:42] cyril-r commented on #26
J'ai relancé l'API via le script habituel, j'ai eu pas mal d'errors mais la page 'api running' s'affiche quand même.

[code]

---

Lors d'un PUT /database/populate j'obtiens :

[code]

(note que d'habitude je ne fais pas de database/populate ?)

[2015-01-20 18:43] rchailan commented on #26
et si tu relances l'api maintenant ? - Le probleme WPS c'est avec @fretif qu'il faut voir mais je pense que c'est normal.

[2015-01-20 18:48] cyril-r commented on #26
[code]

[2015-01-20 18:55] rchailan commented on #26
Il y a toujours un probleme car Drmaa n'est pas loadé :
[error] application - Can't load library: /data/MIRMIDON/unstable/mirmidon/LOGIC/core/drmaa-jni/target/libDrmaaJNI.so
Je vais chercher. ce n'est plus bloquant pour vous pour le moment.

[2015-01-20 18:56] cyril-r commented on #26
Ok pas de problème, bonne chance!

[2015-01-20 18:57] rchailan commented on #26
Je tente un clean install avec maven (drmaa n'était plus compilée en fait. Je te fais signe quand tu peux retenter.)

[2015-01-20 18:57] cyril-r commented on #26
vu, j'attends.

[2015-01-20 18:59] rchailan commented on #26
Il nous faut l'aide du grand sage @fretif (et la nuit porte conseil donc on laisse ca à demain)  :

 /opt/maven-3.0.5/bin/mvn clean install -Pcluster
------->

[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] Failure executing javac, but could not parse the error:

The syste

[2015-01-21 09:26] cyril-r commented on #24
Il y à un problème lors de l'appel à GET /fieldsites

La méthode pour créer un fieldsite fonctionne bien avec la nouvelle envelope, mais lorsque je veux afficher les fieldsites existants, une partie de l'ancienne envelope m'est retournée :

[code]

[2015-01-21 09:43] rchailan commented on #24
mea culpa. je viens de pusher le fix.

[2015-01-21 09:44] rchailan commented on #26
@cyril-r  Est-ce que le re-start de l'API après recompilation de CORE affiche toujours un probleme Drmaa ?
merci

[2015-01-21 09:46] cyril-r commented on #26
Apparemment oui:

Edit, lu trop vite, le problème de session n'est pas lié a drmaa?

[code]

[2015-01-21 09:56] cyril-r opened #27 "Refactor du workflow de déploiement pour mirmidon_unstable"
Suite demande @rc-34 et @fretif , on va adopter un système de mise en prod découplé des push sur le GIT.

Une commande / bouton sera mis en place pour pousser manuellement la révision HEAD de mirmidon_unstable du git sur le répertoire de travail mirmidon_unstable.

Avant le déploiement, l'instance de Play! sera killée, on relancera play! une fois le nouveau code en place.

On envisage la mise en p

[2015-01-21 10:02] rchailan commented on #26
je vois marqué "reload". Le workflow pour tester si il y a toujours erreur c'est down toute l'api. Puis play run comme tu fais normalement. Merci de m'indiquer si tu as toujours l'erreur que tu viens de reporter.

[2015-01-21 10:05] cyril-r commented on #26
Il semblerait que ce soit bon, Drmaa inactive c'est voulu?

[code]

[2015-01-21 10:07] rchailan commented on #26
Ok seems better. Non normalement ca ne devrait pas marqué ça mais j'ai du me tromper quelque part je vérifie.

[2015-01-21 10:10] rchailan commented on #26
Should be ok by now. J'ai pushé un fix. (dernier reboot de l'api stp pour vérifier). Merci

[2015-01-21 10:14] cyril-r commented on #26
:+1:

[code]

[2015-01-21 10:29] rchailan commented on #26
cool !

[2015-01-21 11:48] cyril-r commented on #27
Done.

Ce qu'il faut retenir :

| Effet Désiré | Commande |
| --- | --- |
| Mise à jour du code (entraine arrêt et redémarrage de l'API) | `/scripts/update_mirmidon_unstable.sh` |
| Démarrage/Redémarrage API | `/scripts/start_api.sh` |
| Arrêt API | `/scripts/stop_api.sh` |
| Console Constellation | `screen -R constellation` |
| Logs Play! | `/scripts/play_logs.sh` |

Le hook du repository git à é

[2015-01-21 11:50] cyril-r commented on #24
@jhuon me fait remarquer que la route /fieldsite (PUT) devrait être /fieldsite**s** (PUT), un petit oubli à fixer.

[2015-01-21 11:50] cyril-r commented on #26
Il semblerait y avoir un problème (encore).

Lors d'un redéploiement de code sur le répertoire de travail (/data/MIRMIDON/unstable/mirmidon),
au premier démarrage de l'API, voici ce qui se passe:

[code]

Et l'API ne démarre pas.

Si je redémarre à nouveau l'API, voici ce qui se passe :

[code]

Et cette fois-ci l'API démarre (sans Drmaa).

[2015-01-21 13:19] rchailan commented on #24
Non c'était volontaire. Pcq je trouvais ca illogique d'ajouter 1 filedsite et de mettre un "s" à fieldsite et j'ai oubilé de vous demander votre avis. J'ai corrigé selon vos expectations.
C'est pushé.

[2015-01-21 13:19] #24 closed, assigned to rchailan

[2015-01-21 13:20] rchailan commented on #27
Je pense que le hook n'est pas encore désactivé :

 rchailan$ git push origin master
Counting objects: 6, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 632 bytes | 0 bytes/s, done.
Total 6 (delta 4), reused 0 (delta 0)
remote: hooks/post-receive: line 12: syntax error near unexpected token `elif'
remote: hooks/post-receive: line

[2015-01-21 13:21] rchailan commented on #26
Faut que je regarde avec toi à coté pcq à distance c'est un peu le calvaire là. Je soupconne un comportement normal mais on vérifiera demain.

[2015-01-21 13:23] rchailan commented on #26
Par contre je répète : le problème au RELOAD est NORMAL ! on a vu hier avec Fabien on ne peut pas faire autrement. C'est pour ca que l'on souhaité avoir l'API en production (pour ne pas qu'elle recompile à la volée, ce qui engendre le probleme drmaa).

[2015-01-21 13:23] cyril-r commented on #27
Faute de frappe, corrigé.

[2015-01-21 13:23] #27 closed, assigned to cyril-r

[2015-01-21 14:08] jhuon opened #28 "Aggragations refactor"
Comme vue hier, il faudrait refactoriser l'api de l'aggregator pour être consistant :

[GET] /aggregations?limit=5&offset=1&status=pending
Obtenir une liste des agrégations selon des filtres définis (limit/offset/status)

[GET] /aggregations/formats
Obtenir la liste des formats supportés par l'API

[POST] /aggregations/netcdf-ecmwf
Créer une agrégation au format ECMWF

[2015-01-21 15:57] cyril-r commented on #15
Un petit problème lors de l'intégration de la feature:

Lorsque l'on se connecte sur le websocket, on obtiens un string qui dit "Welcome to Mirmidon Websocket connection!"

Ca pose problème car je m'attendrais plutôt a avoir un json avec la liste des notifications existantes pour mon user.

D'ailleurs toutes les communications via websocket devraient être du json.

C'est possible?

[2015-01-21 16:03] rchailan commented on #15
ok je vais te faire ca

[2015-01-21 16:29] rchailan commented on #15
you may give it a try. Par contre je n'ai pas pu envoyer du JSON à travers le websocket. Je crois que c'est une restriction car on dirait que c'est possible avec play 2.3.X. Je convertis donc au dernier moment le json en String. Dis moi si ca marche (et que ca te va).

[2015-01-21 17:08] cyril-r commented on #15
Ca devrait le faire, je fais déjà un JSON.parse du côté client, c'est juste que le welcome-msg n'était pas du json.

Je suis plus a la fac donc réponse demain.

[2015-01-22 10:02] cyril-r commented on #15
C'est bizarre je ne parviens plus a me connecter au websocket, tu peux vérifier? (la connexion boucle de mon côté et je ne récupère aucune donnée).

[2015-01-22 10:21] rchailan commented on #15
En fait... y a un probleme. Je ne peux pas te remonter les notifs de l'utilisateur courant simplement. Car je n'ai pas de context HTTP lors de la connection websocket. Avec cette version de play l'integration socket / client ca semble...compliqué. Il faudrait upgrader play! pour changer la facon de gerer les websockets (notamment avec systeme d'actor). Mais pour la V1 je pense que ce n'est pas la

[2015-01-22 10:22] rchailan commented on #15
Pushed

[2015-01-22 10:24] cyril-r commented on #15
Bon ok, c'est crade mais pour la démo on fera avec.

Ya moyen que tu m'envoie un UID dans chaque notif? (ou que tu me groupe les notifs par UID), avec ça je pourrais côté client filtrer pour faire apparaitre uniquement celles de l'user courant.

Bien sur à réfactorer au plus vite.

[2015-01-22 10:58] fretif commented on #28
J'ai fait une v1.0.
Je vais rajouter un filtre par phénomène et un filtre par date de début, date de fin qui servira pour l'explorer

[2015-01-22 13:40] rchailan opened #29 "Refactor json (list + fieldsite)"
@MirmidonDev/team
Selon les recommandations de @fretif  j'ai changé les valeurs des json retournées quand on accède à une liste d'éléments (par exemple la liste des fieldsites, ou la liste des commandes, notifications).

Désormais dans une telle situation l'API renvoie un tableau de json par exe (il n'y a qu'un fieldsite là):

[code]

Aussi vous noterez que désormais tous les attributs référensq d

[2015-01-22 13:42] cyril-r commented on #15
Suite à discussion de ce midi,
Proposition:

Je me connecte en websockets, tu m'envoie un json de la forme:

[code]

`msg_type` : service signifie que c'est un message de service qui est envoyé
`status` : 0 = connexion ok et acceptée, tout autre code = refusé/échec/maintenance api (à affiner si besoin).
`message` : juste un hint.

Une fois que le client à reçu ça, il t'envoie le json suivant:

[co

[2015-01-22 14:16] cyril-r commented on #29
Client mis à jour. - ok

[2015-01-22 14:16] #29 closed, assigned to nobody

[2015-01-22 15:05] rchailan commented on #15
Quand je ferme la connexion je ne peux pas envoyer de code http. Par contre je t'envoie le json(string)

[code]

si le token saisi ne correspond pas à un vrai user.

[2015-01-23 09:27] rchailan commented on #28
@fretif : as tu toujours besoin que je fasse les routes pour
/layers => obtenir les layers (ou phenomena)
/layers/<id>/date => obtenir les ranges de date continue
/layers/<id>/periodicity => obtenir les time steps du phenomene

Ou bien on se servira de ce que vous/tu avez/as fait ?

[2015-01-23 09:49] cyril-r commented on #26
Passage de play! en mode prod.
Scripts mis à jour.

[2015-01-23 10:04] fretif commented on #28
Oui, appelle la /phenomena
Je m'occuperai de remplir le code

---- Le ven., 23 janv. 2015 10:27:22 +0100 Romain Chailan &lt;notifications@github.com&gt; a écrit ----

@fretif : as tu toujours besoin que je fasse les routes pour
 /layers =&gt; obtenir les layers (ou phenomena)
 /layers//date =&gt; obtenir les ranges de date continue
 /layers//periodicity =&gt; obtenir les time steps du phenomene
 O

[2015-01-23 10:07] cyril-r opened #30 "Fieldsites HS"
Lors d'un HTTP GET /fieldsites, on obtiens:

[code]

Lors d'un HTTP PUT sur /fieldsites, on obtiens:

[code]

[2015-01-23 10:53] rchailan commented on #30
peux tu me donner le workflow exact ? je n'arrive pas à reproduire le probleme en local.

Par ailleurs à la lecture des logs j'ai l'impression qu'il y a une corruption de la db (je pense à l'option -Ddown d'hier ..) ?

Le meilleur moyen pour etre sur qu'on est dans le vrai c'est de
- Dropper le schéma via admin postgres.
- Lancer play en "run" à la main.
- Faire un accès via le web-browser.
- Cliq

[2015-01-23 10:56] cyril-r commented on #30
Le workflow est simple : je me log, je fait un list fieldsites et ça ne fonctionne pas.

Je vais supprimer la db et faire ce que tu à dis, en espérant que le problème ne se reproduise pas vu la procédure assez lourde pour fixer.

[2015-01-23 11:05] cyril-r commented on #30
J'ai droit à : PSQLException: ERROR: relation "play_evolutions" does not exist Position : 64

Lors du play run

[2015-01-23 11:16] cyril-r commented on #30
Ok trouvé le problème et corrigé.

L'api se lance, dans le log j'ai :

[code]

Je support qu'il faut recompiler?

Pour les fieldsites ça semble ok.

[2015-01-23 12:25] rchailan commented on #30
Cool pr les fieldsites. Ca m'étonnait aussi.
Pour la recompile : Non. Je pense que cela vient du fait que tu dois faire le database/populator pour renseigner la table configuration entry dans laquelle on spécifie le scheduler avec lequel on bosse.

[2015-01-23 12:57] cyril-r commented on #30
Ok le populator me retourne ceci: (PUT /database/populate)

[code]

normal?

[2015-01-23 12:59] cyril-r commented on #26
Suite du ticket #30

Au restart API:

[code]

Edit: le fichier n'existe pas, recompile nécessaire?

[2015-01-23 13:01] rchailan commented on #30
pour l'erreur /database/populate faut voir avec @fretif

[2015-01-23 13:02] rchailan commented on #26
tu as redéployé le noeud ?
oui là il faut déployer tout le core à mon avis (commande maven). C'est certaienemtn ce qui a fait planter le database populator d'ailleurs...

[2015-01-23 13:04] cyril-r commented on #26
non je n'ai pas redéployé le noeud (c'es en projet pour la fin de la journée afin de tester les nouveaux scripts de déploiement initiaux).

Je vais relancer une compilation.

[2015-01-23 13:04] cyril-r commented on #30
Fieldsites fonctionnels.

[2015-01-23 13:06] cyril-r opened #31 "Database populator renvoie un code 02"
Après un appel sur PUT /database/populate, j'obtiens une sortie avec erreur:

[code]

[2015-01-23 13:15] fretif commented on #31
L'erreur parle d'elle même non ? est-ce que le constellation est lancé ?

---- Le ven., 23 janv. 2015 14:06:00 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Après un appel sur PUT /database/populate, j'obtiens une sortie avec erreur:
 { "errors": [ { "message": "org.apache.sis.storage.DataStoreException: Unable to initialize WPS client.", "code": "02" } ] }  —
Reply to this email dir

[2015-01-23 13:16] cyril-r commented on #26
Après recompilation, pas de mention de Drmaa, je suppose donc que c'est ok?

[code]

[2015-01-23 13:18] cyril-r commented on #31
Yes, mais entre temps j'ai recompilé l'API pour fixer un pb drmaa.

désormais lorsque l'on lance le populator l'erreur est différente:

[code]

Par contre tout semble fonctionner, peut-être qu'il n'est donc pas nécessaire de refaire un populator.

Dans ce cas la autant renvoyer un message disant que c'est inutile ou n'aboutira pas?

[2015-01-23 13:28] cyril-r commented on #30
Après recompilation et avoir relancé l'api, le problème drmaa semble réglé mais l'erreur est de retour (suite ticket #26 )

so sad :(

[2015-01-23 13:41] rchailan commented on #30
Attends, tu pars dans tous les sens là... je ne comprends plus rien. ouvert fermé ouvert ??
- 0 déployer core
- 1 schéma droppé
- 2 run play + start constellation
- 3 construire db (evolution)
- 4 /database/populate
- 5 fermer play
- 6 start play (avec constellation toujours opérationnel)

[2015-01-23 13:47] cyril-r commented on #30
Je suis aussi dans le trouble, depuis le passage en mode prod, on à des comportements que l'on avait pas avant.

Si je comprends bien, à chaque recompilation de l'api, il faudra refaire ces 6 étapes pour que ça fonctionne à nouveau?

[2015-01-23 14:17] cyril-r commented on #30
Tout à été refait comme décrit dans ta procédure, l'api tourne et les fieldsites fonctionnent.

Je reste quand même étonné qu'il faille dropper le schéma public à la main (et le recréer vide) pour que cela fonctionne.

[2015-01-23 14:18] cyril-r commented on #31
Je pense que le mieux est que tu passe rapidement lundi pour voir ce qui se produit lorsque l'on lance constellation (j'ai vu des erreurs passer) et que l'on appelle le populator.

On peut faire ça?

[2015-01-23 23:35] rchailan commented on #30
Je ne pense pas qu'il faille le faire à chaque fois. Sinon c'est qu'il y a un probleme. On regardera dans les jours à venir.

[2015-01-26 10:39] cyril-r commented on #15
Réouverture du ticket:

Lors de la connexion au websocket j'obtiens bien le JSON initial qui demande le token, mais lorsque j'envoie à l'API mon token (ou tout autre chose pour faire fermer la connexion), rien ne se passe.

Voici ce que j'envoie une fois avoir reçu le message d'accueil (exemple):

[code]

J'ai pensé à un problème de client JS mais j'écarte cette piste puisque le résultat avec un c

[2015-01-26 10:42] #15 closed, assigned to cyril-r

[2015-01-26 15:59] cyril-r commented on #30
Je confirme qu'à chaque update du code (entrainant sa recompilation), le database populator se mets dans les choux (on dirait qu'il fait la moitié du boulot).

Obligé de réaliser la procédure en 6 étapes pour cleaner la DB à la main.
Ca peut faire l'objet d'un autre ticket, si fieldsites déconne c'est directement lié à ce problème, mais lorsque la db est correcte les fieldsites sont OK.

Je ferme

[2015-01-26 15:59] #30 closed, assigned to rchailan

[2015-01-27 10:39] cyril-r opened #32 "Notifications delete non fonctionnel"
Sur le module notifications, les appels suivants :

DELETE /notifications
DELETE /notifications/<notification_id>

Ne fonctionnent pas, en retour j'obtiens toujours une erreur 400 de type:

Bad request
For request 'DELETE /notifications/5' [Invalid Json]

Dans mon exemple, je tente de supprimer la notification 5, via HTTP DELETE, je n'envoie donc pas de JSON vu qu'il n'y en à pas besoin, et je me

[2015-01-27 10:41] cyril-r opened #33 "Notifications clear/unstick non fonctionnels"
Sur le module notifications, les routes suivantes:

GET /notifications/clear
GET /notifications/<notification_id>/clear
GET /notifications/unstick
GET /notifications/<notification_id>/unstick

Renvoient toutes une erreur 500 du style:

Oops, an error occured
This exception has been logged with id 6l28pn0ba.

Exemple de requête :

GET /notifications/5/clear (via postman et GUI pareil, la notificati

[2015-01-27 11:56] rchailan commented on #33
Fix pushed.

[2015-01-27 11:57] rchailan commented on #32
Je n'ai pas cette erreur. Attention à ne pas mettre dans le header de ta requete le content-type json. Sinon il s'attend à avoir du json. At least

[code]

[2015-01-27 11:57] #32 closed, assigned to rchailan

[2015-01-27 14:13] cyril-r commented on #33
Fonctionne comme attendu.

[2015-01-27 14:13] #33 closed, assigned to rchailan

[2015-01-27 14:25] cyril-r opened #34 "Notifications : Problème de droits d'affichage"
Lorsque j'établis la connexion websocket et envoie le token, je récupère une liste de notifications, mais cette liste contiens des notifications d'autres utilisateurs.

Lorsque j'ajoute une notification via postman, je la vois apparaitre sur la GUI (via websockets), alors que la GUI et postman ont chacun leur user propre.

On a donc sur la GUI des notifications qui n'appartiennent pas à l'user cou

[2015-01-27 15:43] rchailan commented on #34
Fix tested and pushed (67dffae..f4fe76f).

[2015-01-27 15:43] #34 closed, assigned to rchailan

[2015-01-29 09:25] cyril-r opened #35 "Problème à la création d'une aggregation"
## Ce ticket est une synthèse des deux mails que j'ai envoyés à Fabien hier.

Lors d'une tentative de créer une aggrégation:

[code]

Avec le json suivant:

[code]

J'ai ici tenté d'utiliser les fichiers uploadés sur le FTP directement, sans succès, voici le retour:

[code]

Pourtant, en faisant un HTTP GET /ftp, les fichiers sont bien listés:

[code]

Suite à cela, j'ai tenté la même chose en exp

[2015-01-29 09:32] cyril-r opened #36 "FTP : problème de ports pour établissement d'une connexion passive."
Lorsque l'on tente de se connecter au FTP de Mirmidon (exposé par play! il me semble), la connexion sur le port **2121** s'établit correctement et le canal de contrôle fonctionne bien.

Cependant lorsqu'il faut lister les répertoires ou initier un transfert, une connexion passive est crée, mais le problème est que le range de ports utilisés par le serveur FTP est pour le moment incertain.

De ce f

[2015-01-29 10:00] fretif commented on #35
J'ai ré-installé la base coverage car il y avait un problème. Peux-tu ré-essayer en http.

---- Le jeu., 29 janv. 2015 10:25:06 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ce ticket est une synthèse des deux mails que j'ai envoyés à Fabien hier.
 Lors d'une tentative de créer une aggrégation:
 POST http://p4x-650.gateworld.fr:9082/aggregations/netcdf-ecmwf  Avec le json suivant:
 {

[2015-01-29 10:03] cyril-r commented on #35
C'est fait, voila la sortie:

[code]

[2015-01-29 10:10] fretif commented on #35
OK, again s'il te plait.

---- Le jeu., 29 janv. 2015 11:03:48 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

C'est fait, voila la sortie:
 { "errors": [ { "message": "Error while adding the aggregation : ERROR: insert or update on table \"Series\" violates foreign key constraint \"Series_layer_fkey\"\n Détail : Key (layer)=(wind10m) is not present in table \"Layers\".", "code": "02"

[2015-01-29 10:11] cyril-r commented on #35
Ok, cette fois-ci, pas de sortie, mais un code HTTP 200, c'est bon alors? :+1:

[2015-01-29 10:12] cyril-r commented on #35
En fait je ne sait pas:

[code]

Retour:

[code]

A moins qu'il ne faille attendre.

[2015-01-29 10:16] fretif commented on #35
Est-ce que le port du constellation est ouvert sur le micro serveur : 8092 ?

---- Le jeu., 29 janv. 2015 11:12:52 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

En fait je ne sait pas:
 GET /aggregations  Retour:
 []
 —
Reply to this email directly or view it on GitHub.

_.-~-._.-~-._.-~-._.-~-._.-~-._
PhD. Fabien Rétif
Géosciences Montpellier
UMR 5243 - CC 60
Universite Montpellier

[2015-01-29 10:21] cyril-r commented on #35
Il ne l'étais pas (8090 à la place), je viens de l'ajouter et relancer une aggrégation.
Idem (HTTP 200 à la création), rien dans le listing.

[2015-01-29 10:26] fretif commented on #35
OK, les 2 aggrégations sont ok. Le client wms les affiche et en couleur svp ! Pour la commande aggrégations, les arguments par défaut du filtre n'affiche aucun résultat. Je pourrais peut être le changer mettre les 10 premiers par exemple ? en attendant donne lui des arguments.

Fabien

---- Le jeu., 29 janv. 2015 11:21:19 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Il ne l'étais pa

[2015-01-29 10:29] cyril-r commented on #35
yayyyy!

Ok pour lui filer les arguments, si pas d'arguments oui ce serais pas mal d'avoir par ex les 10 derniers.

Je ferme le ticket vu que le pb est résolu.

[2015-01-29 10:29] #35 closed, assigned to fretif

[2015-01-29 10:40] rchailan commented on #35
:):):):)

On 29 Jan 2015, at 11:26, Fabien Rétif notifications@github.com wrote:

[2015-01-29 10:49] cyril-r commented on #31
Le problème de constellation à été corrigé via patch temporaire.

Ce qui à été fait:

Remplacement du constellation de la build mirmidon par le constellation de git Géomatys

[code]

[2015-01-29 10:49] #31 closed

[2015-01-29 10:59] cyril-r opened #37 "Recompilation/Redéploiement : Corruption de la DB"
Lors d'une update de code (mise en prod de la version unstable) et recompilation du core, la DB n'est plus utilisable et doit être supprimée et recrée via une procédure manuelle contraignante (perte de l'automatisation de déploiement de la plateforme).

Le problème à des impacts sur le chargement de Drmaa.

Un second problème à été identifié sur le schéma "coverages" qui serait - semble-t-il - aus

[2015-01-29 11:01] #28 closed, assigned to fretif

[2015-01-29 11:02] cyril-r commented on #26
Je ferme le ticket, pas de problème Drmaa avec DB fonctionnelle.

[2015-01-29 11:02] #26 closed, assigned to rchailan

[2015-01-29 11:08] fretif commented on #37
Le problème sur coverages est bien en amont du redéploiement. C'est la manière de créer le schéma qui est à revoir.

Attention, il ne faut pas confondre la plateforme de développement et la plateforme de production. Dans notre cas, les deux sont liés mais il ne faut pas tendre vers une machine de guerre tout automatisé mais plutôt sur une procédure pour déployer la plateforme de développement et u

[2015-01-29 11:28] cyril-r commented on #37
Ok, je suis d'accord pour la différence au niveau de la plateforme dev/prod, j'ai du mal m'exprimer sorry, je parle de la bascule de code sur l'environnement unstable qui est problématique depuis quelques jours.

Vous m'avez demandé de passer play! en mode prod sur l'environnement unstable pour éviter qu'il recompile à la volée le code.
Ce qui impliquais le retrait des hooks du git pour permettre

[2015-01-29 12:37] fretif commented on #37
Voici la procédure automatique à faire lors d'un déploiement en prod :
1. git clone
2. mvn install du core (rajouter le deploy si l'on veut)
3. Drop le schéma public
4. catalina.sh start
5. play evolutions:apply start (à vérifier que l'on puisse faire les deux en même temps sinon faire le start dans une autre commande).
6. Populator

Fabien

---- Le jeu., 29 janv. 2015 12:28:25 +0100 cyril-r&lt;no

[2015-01-29 13:01] cyril-r commented on #37
Ok pour la procédure, j'adapterais le script et ferais les tests rapidement, pour le moment on à besoin de l'API donc ce sera pour le prochain update de code.

Je ferais un retour en temps voulu.

[2015-01-29 14:46] fretif commented on #36
Done. Les passives ports vont de 2300 à 2399

[2015-01-29 15:06] cyril-r commented on #36
Ok, mise à jour effectuée sur l'appliance.

La modif sera effective au prochain redéploiement de code.

[2015-01-29 15:06] #36 closed, assigned to rchailan

[2015-01-29 16:42] rchailan opened #38 "Explorer routes"
GET /phenomena                            => obtenir la liste des layers que l'on peut afficher
GET /phenomena/<id>                  => info sur le phenomene
GET /phenomena/<id>/date          => obtenir les ranges de date continue du phenomene
GET /phenomena/<id>/periodicity => obtenir les time steps du phenomene
DELETE /phenomena/<id> => supprime le phenomene in db (à voir si on rajoute en json l

[2015-01-30 10:24] rchailan commented on #38
@fretif voir mon email pour la collection + me dire (tel) si ca ne convient pas au schéma db-spatiale.

[2015-01-30 11:23] cyril-r opened #39 "Aggregation Symphonie non fonctionnelle"
Deux problèmes a traiter dans ce ticket:

**1°**
Pour les aggregations, tu attends des doubles sur tous les nombres que l'on te donne.
Le problème, c'est que dans l'exemple symphonie, max_grid_resolution et cell_resolution sont respectivement à **15.0** et **1.0**.

Dans le JSON, ces valeurs sont transformées en **15** et **1** par PHP lors de l'encodage en JSON des valeurs du formulaire.
Pas de p

[2015-01-30 11:31] cyril-r opened #40 "Aggregation WW3 non fonctionnelle"
Lorsque je tente de créer une aggregation WW3 j'ai aussi une exception.
(note: fichier utilisé = un de ceux que tu m'a donné hier).

Json envoyé:

[code]

Retour constellation

[code]

Retour API nul (pas de nouvelle ligne de log).

[2015-01-30 11:38] fretif commented on #39
Peux-tu virer le dossier dans play play-2.2.2/repository/cache/org.mirmidon

L'erreur que tu me montres à normalement était traité puisque la ligne indiquée 327 du ClientWPS est vide...

Pour le 1°, je regarde ce que je peux faire

---- Le ven., 30 janv. 2015 12:23:47 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Deux problèmes a traiter dans ce ticket:
 1°
 Pour les aggregations, tu

[2015-01-30 11:39] fretif commented on #40
As-tu plus d'infos, quel est le code retour http ?
Rien de plus côté constell ?

---- Le ven., 30 janv. 2015 12:31:46 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Lorsque je tente de créer une aggregation WW3 j'ai aussi une exception.
 (note: fichier utilisé = un de ceux que tu m'a donné hier).
 Json envoyé:
 { "name": "WW3 Output", "description": "Output run 1", "phenomena": [ "wav

[2015-01-30 13:13] cyril-r commented on #39
Ok après avoir supprimé le répertoire et relancé l'API, l'aggrégation passe au niveau GUI et je reçoit une notification comme quoi elle à été startée, puis une autre comme quoi elle est en "running".

Au niveau constellation, ça finit par bloquer avec ce log:

[code]

[2015-01-30 13:16] cyril-r commented on #40
Après la suppression du dossier (issue #39 ) et avoir relancé, voila ce que j'ai en sortie:

Log constellation:

[code]

[2015-01-30 13:33] fretif commented on #40
OK, et côté play ?

---- Le ven., 30 janv. 2015 14:16:36 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Après la suppression du dossier (issue #39 ) et avoir relancé, voila ce que j'ai en sortie:
 http://localhost:8092/constellation/WS/wps/aggregator?VERSION=1.0.0&amp;SERVICE=WPS&amp;IDENTIFIER=urn%3Aogc%3Acstl%3Awps%3Aaggregator%3Aimport-netcdf-ww3-regular&amp;REQUEST=DescribeProcess

[2015-01-30 13:37] fretif commented on #39
Peux-tu me lister ces répertoires :

/opt/tomcat-7.0.50-unstable/temp/aggregation2053468777106512228
/opt/tomcat-7.0.50-unstable/temp/aggregation2053468777106512228/graphiques/

Merci,

---- Le ven., 30 janv. 2015 14:13:29 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ok après avoir supprimé le répertoire et relancé l'API, l'aggrégation passe au niveau GUI et je reçoit une notificati

[2015-02-02 08:33] cyril-r commented on #39
Salut Fab,

Pour le premier:

[mirmidon@Mirmidon-node-0-0 aggregation2053468777106512228]$ tree
.
├── extract_S_grid
│   └── extract_S_grid.sh
├── lib
│   ├── compute_distance.exe
│   ├── compute_distance.f90
│   ├── grid_rotator_vectors.exe
│   └── grid_rotator_vectors.f90
└── S_var_to_regular_grid
     └── S_var_to_regular_grid.sh

3 directories, 6 files

Pour le second, il n'existe pas de réper

[2015-02-02 09:06] fretif commented on #39
OK, peux-tu me lister le répertoire de la version de prod

/LOGIC/core/aggregator/target/classes/org/mirmidon/aggregator/symphonie/source

Merci,

---- Le lun., 02 févr. 2015 09:33:07 +0100 cyril-r &lt;notifications@github.com&gt; a écrit ----

Salut Fab,

 Pour le premier:

 [mirmidon@Mirmidon-node-0-0 aggregation2053468777106512228]$ tree
 .
 ├── extract_S_grid
 │ └── extract_S_grid.sh
 ├── lib

[2015-02-02 11:02] cyril-r commented on #39
Here it is:

[mirmidon@Mirmidon-node-0-0 aggregation2053468777106512228]$ ls -ail
/data/MIRMIDON/unstable/mirmidon/LOGIC/core/aggregator/target/classes/org/mirmidon/aggregator/symphonie/source

total 20
268474 drwxrwxr-x 5 mirmidon mirmidon 4096 27 janv. 17:41 .
268473 drwxrwxr-x 4 mirmidon mirmidon 4096 27 janv. 17:41 ..
268476 drwxrwxr-x 2 mirmidon mirmidon 4096 27 janv. 17:41 extract_S_grid
268

[2015-02-02 11:07] fretif commented on #39
Ce n'est pas la dernière version du code, peux-tu faire la même chose pour

/data/MIRMIDON/unstable/mirmidon/LOGIC/core/aggregator/src/classes/org/mirmidon/aggregator/symphonie/source

?

Merci,

---- Le lun., 02 févr. 2015 12:02:13 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Here it is:

 [mirmidon@Mirmidon-node-0-0 aggregation2053468777106512228]$ ls -ail
 /data/MIRMIDON/unstable

[2015-02-02 11:10] cyril-r commented on #39
Ce répertoire n'existe pas!

[2015-02-02 11:11] fretif commented on #39
OK, alors clean tout et re-déploy :-)

Et vérifie la présence de ce répertoire. J'ai vérifié chez moi, ce répertoire est présent sur le git.

Fabien

---- Le lun., 02 févr. 2015 12:10:47 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ce répertoire n'existe pas!
 —
Reply to this email directly or view it on GitHub.

_.-~-._.-~-._.-~-._.-~-._.-~-._
PhD. Fabien Rétif
Géosciences Montpell

[2015-02-02 11:20] cyril-r commented on #39
hmm, après manger il faut que je suive ce qui se passe et reset la db.

[2015-02-02 13:57] cyril-r commented on #39
Redéploiement effectif.

Après discussion avec Fabien, git ne permet pas l'envoi de répertoires vides, on à décidé d'introduire un fichier **.gitkeep** dans chaque répertoire vide qui sera poussé sur le repository.

Je ferme le ticket une fois le problème de lecture des paramètres résolu par @fretif .

[2015-02-02 15:28] fretif commented on #39
OK, j'ai commit un patch.

Fabien

---- Le lun., 02 févr. 2015 14:57:57 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Redéploiement effectif.
 Après discussion avec Fabien, git ne permet pas l'envoi de répertoires vides, on à décidé d'introduire un fichier .gitkeep dans chaque répertoire vide qui sera poussé sur le repository.
 Je ferme le ticket une fois le problème de lecture des p

[2015-02-03 07:10] #19 closed, assigned to rchailan

[2015-02-03 10:54] cyril-r commented on #40
Nouvel essai après redéploiement, j'obtiens en réponse une exception (page rouge)

Logs play!:

[code]

Côté Constellation:

[code]

[2015-02-03 10:57] cyril-r commented on #39
Test après patch:

Je récupère une exception.

Sortie play:

[code]

Sortie constellation:

[code]

[2015-02-03 11:02] fretif commented on #39
Alors il y a deux message : None ftp server passive ports were settled

As-tu fait un populator ?

Puis peux-tu me faire un tree sur

/opt/tomcat-7.0.50-unstable/temp/aggregation6377501445165105408

Merci

---- Le mar., 03 févr. 2015 11:57:30 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Test après patch:
 Je récupère une exception.
 Sortie play:
 2015-02-03 11:50:59,887 - [ERROR] -

[2015-02-03 11:06] cyril-r commented on #39
Je viens de faire un db populator il me renvoie ceci:

Oops, an error occured
This exception has been logged with id 6l480o971.

Pour le tree:

[code]

Il faut que je redéploie tout?

[2015-02-03 13:08] fretif opened #41 "CoveragesSQL sur la base mirmidon_fabien/mirmidon_romain"

[2015-02-03 13:49] cyril-r commented on #41
Done.

[2015-02-03 13:49] #41 closed, assigned to cyril-r

[2015-02-03 14:33] cyril-r commented on #40
Après redéploiement/reset DB/populator, lors d'une aggrégation, j'ai un retour HTTP 200 (ok).

Lorsque je liste les aggregations voici ce que je récupère:

[code]

Logs play!

[code]

Logs constellation:

[code]

Un tree sur **/opt/tomcat-7.0.50-unstable/temp/aggregation8517055769940314706/**

[code]

[2015-02-03 15:37] fretif commented on #39
J'ai poussé deux commits. Le problème ne sera peut-être pas résolu mais il devrait remonter l'exception.

Peux-tu re-déployer le code et tester une aggrégation de Symphonie ?

---- Le mar., 03 févr. 2015 11:57:30 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Test après patch:
 Je récupère une exception.
 Sortie play:
 2015-02-03 11:50:59,887 - [ERROR] - from application in Thread-11

[2015-02-03 16:16] #22 closed, assigned to rchailan

[2015-02-03 18:11] cyril-r commented on #39
Ok c'est fait, tout redéployé.

Lors du lancement de l'aggregation, j'ai un code HTTP 200, mais il y a du log:

Constellation:

[code]

Play!

[code]

A noter : j'ai cleané/redéployé/testé deux fois pour être sur, même résultat.

[2015-02-03 18:11] cyril-r opened #42 "Erreurs au démarrage de constellation"
Fabien, depuis redéploiement et modifs de cet après midi, voici ce qui se passe lorsque constellation démarre (attention, c'est long).:

[code]

[2015-02-03 21:34] fretif commented on #42
Normal l'aggregator ECMWF est cassé.

Fabien

---- Le mar., 03 févr. 2015 19:11:36 +0100 cyril-r &lt;notifications@github.com&gt; a écrit ----

Fabien, depuis redéploiement et modifs de cet après midi, voici ce qui se passe lorsque constellation démarre (attention, c'est long).:
 Starting constellation Using CATALINA_BASE: /opt/tomcat-7.0.50-unstable Using CATALINA_HOME: /opt/tomcat-7.0.50-unstabl

[2015-02-04 11:37] cyril-r opened #43 "GET /aggregations HS"
Un **GET aggregations?limit=10&offset=0&status=none&sort=dsc** retourne une page d'erreur (exception) et voici le log play!

[code]

[2015-02-04 14:16] fretif commented on #43
J'ai poussé un commit, peux-tu retester ?

Désolé, on atteint un niveau d'intégration où certains tests sont dur à faire chez moi...

Fabien

---- Le mer., 04 févr. 2015 12:37:40 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Un GET aggregations?limit=10&amp;offset=0&amp;status=none&amp;sort=dsc retourne une page d'erreur (exception) et voici le log play!
 2015-02-03 19:06:30,563 - [E

[2015-02-04 14:32] cyril-r commented on #43
Je confirme le fix, la liste d'aggregations est maintenant fonctionnelle.

[2015-02-04 14:32] #43 closed, assigned to fretif

[2015-02-05 14:59] cyril-r opened #44 "Persistence des PATHS et LD_LIBRARY_PATHS"
Après setup initial, certains paths ne sont pas persistents (antlr/udunits2...).

Actuellement les paths sont ajoutés directement au fur et à mesure de l'installation des libs/softs.

Il faudrait:

Revoir le process d'install pour lister à un endroit les tous les PATH et LD_LIBRARY_PATH complets qui doivent être automatiquement appliqués à chaque boot.

On pourrait ainsi être certain en consultant

[2015-02-09 13:33] cyril-r commented on #42
Fixed.

[2015-02-09 13:33] #42 closed, assigned to fretif

[2015-02-09 13:35] cyril-r commented on #39
cleanup close

[2015-02-09 13:35] #39 closed, assigned to fretif

[2015-02-09 13:36] cyril-r commented on #40
cleanup close

[2015-02-09 13:36] #40 closed, assigned to fretif

[2015-02-10 18:21] cyril-r opened #45 "Exceptions sur aggregations ecmwf/ww3"
Fabien,

J'ai updaté le code, la liste des aggregations est ok, l'aggregation symphonie semble aussi ok.

Par contre comportement anormal pour les aggregations ecmwf et ww3:

Lorsque je lance une aggregation sur un de ces deux modes, j'ai en retour une erreur 500 de l'API.

Ce qui est bizarre, c'est que je vois les notifications websocket en live de l'aggregation qui se start et semble même se ter

[2015-02-11 13:50] cyril-r commented on #45
fixed.

[2015-02-11 13:50] #45 closed, assigned to fretif

[2015-02-12 09:52] cyril-r opened #46 "API ne démarre plus"
Suite au dernier push ( b4dd83283ffed9694a1646df981dd14c2ca9c6cb ), l'API ne démarre plus, voici les logs play!

Console:

[code]

Logfile:

[code]

[2015-02-12 10:38] rchailan commented on #46
Fixé temporairement. Je ne garantis pas le bon fonctionnement du monitoring des WPS. Mais ca débloque pour compiler.
Il faudra aussi avant de relancer se faire un petit "play clean". De mon côté j'ai observé des comportements étranges qui ont été fixés une fois que le cache de play a ete reloadé de cette facon.

[2015-02-12 10:44] fretif commented on #46
Fixed

---- Le jeu., 12 févr. 2015 10:52:49 +0100 cyril-r &lt;notifications@github.com&gt; a écrit ----

Suite au dernier push ( b4dd83283ffed9694a1646df981dd14c2ca9c6cb ), l'API ne démarre plus, voici les logs play!
 Console:
 [error] warning: Supported source version 'RELEASE_6' from annotation processor 'org.antlr.v4.runtime.misc.NullUsageProcessor' less than -source '1.7' [error] /data/MIRMIDO

[2015-02-12 10:47] cyril-r commented on #46
@fretif je redéploie le code à nouveau?

@rc-34 : concernant le play clean, tu veux que je l'intègre au script d'update de code ? elle serais à faire juste après avoir copié le code et avant de lancer l'API, right?

[2015-02-12 10:49] fretif commented on #46
oui test en redéployant, si ca ne marche pas, vois avec Romain.

---- Le jeu., 12 févr. 2015 11:47:36 +0100 cyril-r &lt;notifications@github.com&gt; a écrit ----

@fretif je redéploie le code à nouveau?
 @rc-34 : concernant le play clean, tu veux que je l'intègre au script d'update de code ? elle serais à faire juste après avoir copié le code et avant de lancer l'API, right?
 —
Reply to this email

[2015-02-12 11:03] cyril-r commented on #46
Fixed.

[2015-02-12 11:03] #46 closed, assigned to fretif

[2015-02-12 11:39] #38 closed, assigned to fretif

[2015-02-12 19:09] cyril-r opened #47 "Aggregation bathy"
Fabien,

Lorsque je tente de créer une aggregation de bathymétrie via postman, l'API renvoie un code **200** (OK), l'aggregation est listée dans l'aggregator, mais elle ne possède aucun phénomène.

Dans les logs on voit qu'il y a une erreur.

Voici le json envoyé :

[code]

Voici le log play!

[code]

[2015-02-12 19:12] cyril-r opened #48 "Liste des configurations"
Lorsque je liste les configurations, mais que je n'en ai crée aucune, un comportement anormal se produit.

Lorsque je ne filtre pas (model=none), aucun problème, mais lorsque je filtre sur un des deux modèles supportés, une erreur fatale se produit:

[code]

Romain est passé tout à l'heure et il semblerait que le problème se situe dans

[code]

Au niveau des lignes 118 a 125, en fait quand on à un

[2015-02-12 21:03] fretif commented on #47
Où vois-tu qu'elle n'a pas de phénomènes ? en base de données, elle est bien enregistrée
Par contre effectivement, il y a un problème sur l'explorer. Je me note cela.

---- Le jeu., 12 févr. 2015 20:09:01 +0100 cyril-r &lt;notifications@github.com&gt; a écrit ----

Fabien,
 Lorsque je tente de créer une aggregation de bathymétrie via postman, l'API renvoie un code 200 (OK), l'aggregation est listé

[2015-02-12 21:13] cyril-r commented on #47
Dans la liste côté aggregator, on vois bien l'aggregation bathy qui est en "completed", mais aucun phénomène associé, alors qu'en dessous on à bien le phénomène de l'aggregation WW3.

![capture](https://cloud.githubusercontent.com/assets/5377420/6177120/2980b602-b304-11e4-8a3c-462178d1ffc7.png)

Et aussi comme tu à pu le noter, dans l'explorer rien n'est retourné pour le phénomène bathy.

[2015-02-12 21:17] fretif commented on #48
Alors le message est vraiment vrai, le modèle n'existe pas en base.

Les modèles sont instanciés pour la première fois au moment de créer une configuration.

Deux alternatives sont possibles :
1. faire une fonction qui liste les modèles supportés (et qui les insère au passage). Un peu comme l'aggregator, ce qui te permet de générer la liste à gauche des agrégations possibles (/aggregations/formats

[2015-02-12 21:18] fretif commented on #47
Peux-tu me montrer le json de l'agrégation "Sirocco bathy" ?

Merci

---- Le jeu., 12 févr. 2015 22:13:49 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Dans la liste côté aggregator, on vois bien l'aggregation bathy qui est en "completed", mais aucun phénomène associé, alors qu'en dessous on à bien le phénomène de l'aggregation WW3.

 Et aussi comme tu à pu le noter, dans l'explorer

[2015-02-12 21:21] cyril-r commented on #47
Si tu demande celui que je lui ai envoyé, il est dans mon premier message, en retour je n'ai qu'un code http 200.

Je vois que tu reste sur client mail pour lire/répondre aux notifs, tu n'a peut-être pas la mise en forme et la coloration sur le site du coup...

Je te remets le json ci-dessous:

[code]

Le fichier existe bien sur le ftp j'ai vérifié.

[2015-02-12 21:22] fretif commented on #47
Non non, celui qui te permet de générer la liste des agrégations.

---- Le jeu., 12 févr. 2015 22:21:19 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Si tu demande celui que je lui ai envoyé, il est dans mon premier message, en retour je n'ai qu'un code http 200.
 Je vois que tu reste sur client mail pour lire/répondre aux notifs, tu n'a peut-être pas la mise en forme et la coloratio

[2015-02-12 21:23] cyril-r commented on #48
Ok pas de problème, dans ce cas la la solution n°1 me semble la meilleure, comme ça le jour ou tu ajoute un nouveau modèle, pas besoin d'updater les liens de la GUI, et si tu devais en retirer un pour cause de maintenance il disparaitrait du client aussi.

[2015-02-12 21:25] cyril-r commented on #47
Ceci?

[code]

C'est le filtre par défaut, qui équivaut à "afficher tout, les plus récents en premier, limite d'affichage a 100"

[2015-02-12 21:30] fretif commented on #47
Oui, je veux bien le json résultat (ou sinon ton user pour regarder moi même)

---- Le jeu., 12 févr. 2015 22:25:55 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ceci?
 /aggregations?limit=100&amp;offset=0&amp;status=none&amp;phenomenon=none&amp;sort=desc  C'est le filtre par défaut, qui équivaut à "afficher tout, les plus récents en premier, limite d'affichage a 100"
 —
Reply to thi

[2015-02-12 22:01] fretif commented on #47
Si j’exécute cette fonction j'obtiens bien l'aggrégation (en comparant l'heure de création, c'est bien la même) avec le phénomène :

{
        "id": 4,
        "name": "Sirocco bathy",
        "description": "Bathy from sirocco",
        "status": "completed",
        "mode": "YX",
        "creation_date": "2015-02-12 20:40:23",
        "last_updated_date": "2015-02-12 20:40:24",
        "message"

[2015-02-13 11:23] #47 closed, assigned to fretif

[2015-02-13 11:26] fretif opened #49 "/phenomena ne tourne pas tous les phénomènes"
La réponse est simple,

/phenomena?limit=10&offset=0&sort=asc
sort : asc ou desc
La valeur par défaut de limit est 10 si l'on fait /phenomena.
Cyril, je te conseille d'utiliser l'argument limit dans ton appel.

[2015-02-13 12:00] cyril-r commented on #49
Ok vu, un petit limit=0 affiche tous les phénomènes.

[2015-02-13 12:00] #49 closed, assigned to cyril-r

[2015-02-13 14:26] fretif opened #50 "/phenomena/bathymetry : exception pas de variables à 3 dim"
J'ai commit un fix pour les variables à 2 dim (bathymetry pour la demo).

Fabien

[2015-02-13 14:30] fretif opened #51 "/configurations/models retourne uniquement les modèles pouvant être créée"
J'ai commit un fix qui affiche tous les modèles avec un booléen et les phénomènes manquants pour la création d'une configuration
 {
        "id": 1,
        "key": "s26-ecmwf-mercator",
        "name": "Symphonie S26: ECMWF+MERCATOR",
        "has_enough_data": true
    },
  {
        "id": 2,
        "key": "ww3-wind-level-current",
        "name": "WW3: WIND+CURRENT+LEVEL",
        "missing_data

[2015-02-13 14:32] fretif commented on #48
Fixed, j'ai mis l'ajout des modèles dans le populator + une fonction /configurations/models?limit=10&offset=0&sort=asc

[2015-02-13 14:32] #48 closed, assigned to fretif

[2015-02-13 14:33] fretif opened #52 "Pré-routine WW3"
Romain, peux-tu vérifier les pré-routines dans WindCurrentLevel.java (strt...)

[2015-02-13 14:47] rchailan commented on #52
Ok je regarde dans le we

[2015-02-13 16:33] rchailan commented on #52
J'ai mis à jour normalement. @fretif  Fais attention au nom des fichiers mandatory à avoir (les fichiers .inp). Faut qu'on regarde ensemble rapidement comment mettre en place les templates etc. je vois du codage en dur :)

[code]

[2015-02-13 16:44] fretif commented on #52
Lool, Cyril et toi n'arrêtaient pas de me dire, il y a du code en dur =&gt; voir Julien , nah !

OK pour les fichiers inp.

---- Le ven., 13 févr. 2015 17:33:13 +0100 Romain Chailan&lt;notifications@github.com&gt; a écrit ----

J'ai mis à jour normalement. @fretif Fais attention au nom des fichiers mandatory à avoir (les fichiers .inp). Faut qu'on regarde ensemble rapidement comment mettre en plac

[2015-02-16 15:35] cyril-r commented on #51
Done.

[2015-02-16 15:35] #51 closed, assigned to cyril-r

[2015-02-16 15:35] cyril-r commented on #50
Formulaire bathymetry fait.

[2015-02-16 15:35] #50 closed, assigned to cyril-r

[2015-02-17 13:14] cyril-r opened #53 "Impossible de créer une configuration"
J'ai tenté de créer une configuration S26 et ça n'a pas fonctionné.

Appel API:

`GET /configurations/s26-ecmwf-mercator`

Json envoyé:

[code]

L'API renvoie un code **200**, mais la config reste introuvable.

Avant de lancer la config, j'ai bien réalisé toutes les aggregations (toutes sont "completed"), et vérifié que les ID que j'envoie dans mon json correspondent bien à ce que j'ai dans explor

[2015-02-17 15:59] cyril-r commented on #53
Ticket updaté.

[2015-02-18 16:58] cyril-r opened #54 "Incorrect route for config builder"
La route pour créer une configuration POST `ww3-wind-current-level` est incorrecte, elle devrait être POST `ww3-wind-level-current` pour être en phase avec le reste des élements fournis par l'API.

[2015-02-18 22:11] fretif commented on #53
C'est bon, j'ai commit un fix.

[2015-02-18 22:13] fretif commented on #54
J'ai commit un fix

[2015-02-19 10:02] cyril-r commented on #54
Ok c'est bon.

[2015-02-19 10:02] #54 closed, assigned to fretif

[2015-02-19 10:02] cyril-r commented on #53
Ca n'a pas fonctionné j'ai encore la même erreur. (api redéployée of course)

[2015-02-19 11:34] fretif commented on #53
Je viens de vérifier, chez moi cela marche.
Même erreur, tu es sur ?
Il n'y a pas un prob de cache avec play ?

---- Le jeu., 19 févr. 2015 11:02:34 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ca n'a pas fonctionné j'ai encore la même erreur. (api redéployée of course)
 —
Reply to this email directly or view it on GitHub.

_.-~-._.-~-._.-~-._.-~-._.-~-._
PhD. Fabien Rétif
Géoscienc

[2015-02-19 11:36] cyril-r commented on #53
Je pense pas que ce soit le cache de play, en plus de la commande `play clean` lors de l'update on à ajouté avec Romain un petit `rm -Rf /opt/play-2.2.2-unstable/repository/cache/org.mirmidon/`, ça devrait suffire non?

Sinon l'erreur est la même (sauf l'id du monitor qui change)

[2015-02-19 12:53] fretif commented on #53
Montre moi le log stp :-)

---- Le jeu., 19 févr. 2015 12:36:53 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Je pense pas que ce soit le cache de play, en plus de la commande play clean lors de l'update on à ajouté avec Romain un petit rm -Rf /opt/play-2.2.2-unstable/repository/cache/org.mirmidon/, ça devrait suffire non?
 Sinon l'erreur est la même (sauf l'id du worker qui change)

[2015-02-19 13:04] cyril-r commented on #53
here:

Play:

[code]

Constellation:

[code]

Retour API:

[code]

[2015-02-19 13:21] fretif commented on #53
Cyril, ce n'est pas la même erreur......
Kill play et relance le pour voir

[2015-02-19 13:27] cyril-r commented on #53
Ca a fonctionné

[code]

Je ne comprends pas pourquoi d'ailleurs, lors de l'update de code play est bien killé et relancé après avoir fait un database populator.

[2015-02-19 13:28] fretif commented on #53
ça fait 2 jours que ce bug vient d'arriver...je m'y colle cet après-midi.

---- Le jeu., 19 févr. 2015 14:27:13 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ca a fonctionné
 2015-02-19 14:26:01,275 - [INFO] - from application in Thread-10 [ Configuration Builder ] The configuration 'Test s26' (1) is completed.  Je ne comprends pas pourquoi d'ailleurs, lors de l'update de code play e

[2015-02-19 13:35] cyril-r opened #55 "Impossible de créer une aggregation"
@jhuon viens de me faire remarquer qu'il n'était plus possible de créer d'aggregations.

Exemple pour ecmwf:

Play:

[code]

Constellation:

[code]

[2015-02-19 13:40] cyril-r opened #56 "Config builder : camelCase in configuration list"
Lorsque je liste les configurations (GET /configurations), le JSON renvoyé par l'API est correct mais les clés sont au format camelCase au lieu de snake_case.

exemple de retour :

[code]

[2015-02-19 13:53] fretif commented on #55
Si il y a une gestion des exceptions, il serait bien de s'en servir ! Je pari que l'api vous retourne une erreur ????

[2015-02-19 13:55] jhuon commented on #55
An API error occured!
Error 1/1
Code: 02
Message: Unable to create a WPS monitor for the aggregation 'ECMWF 1'.

[2015-02-19 13:55] cyril-r commented on #55
[code]

[2015-02-19 13:55] fretif commented on #55
Merci !!!!!!!!!!!!!!!!!!

[2015-02-19 13:56] cyril-r commented on #55
Synchro :-)

[2015-02-19 15:52] fretif commented on #55
Je viens de pousser un fix, il faut re-déployer. Attention à bien vérifier que la lib OCG Client est à jour à la suite du re-déployement.

[2015-02-19 15:55] cyril-r commented on #55
Ok je veux bien redéployer, mais un petit hint pour être sur que la fameuse lib "ocg" est à jour (je vérifie comment?)

[2015-02-19 16:02] fretif commented on #55
La date de compilation du jar par exemple.

---- Le jeu., 19 févr. 2015 16:55:26 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ok je veux bien redéployer, mais un petit hint pour être sur que la fameuse lib "ocg" est à jour (je vérifie comment?)
 —
Reply to this email directly or view it on GitHub.

_.-~-._.-~-._.-~-._.-~-._.-~-._
PhD. Fabien Rétif
Géosciences Montpellier
UMR 5243 -

[2015-02-19 16:05] cyril-r commented on #55
Ok

Le 19 février 2015 17:02:44 GMT+01:00, "Fabien Rétif" notifications@github.com a écrit :

##

Envoyé de mon appareil Android avec K-9 Mail. Veuillez excuser ma brièveté.

[2015-02-19 16:05] fretif commented on #56
J'ai poussé un début de fix mais il faudra voir avec Romain car je json risque de changer avec le preview.

---- Le jeu., 19 févr. 2015 14:40:21 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Lorsque je liste les configurations (GET /configurations), le JSON renvoyé par l'API est correct mais les clés sont au format camelCase au lieu de snake_case.
 exemple de retour :
 array (size=2)

[2015-02-19 16:58] cyril-r opened #57 "API ne démarre plus"
J'ai fait un redéploy, deux fois pour être sur en cleanant complètement la DB, l'API refuse de démarrer maintenant.

Constellation est OK et démarre, mais play plante.

Log play:

[code]

[2015-02-19 17:02] fretif commented on #57
ah oui, je n'ai pas poussé mon populator parce qu'il est configurer pour ma machine mais il y a besoin de modifs.
Je propose de pousser avec mes valeurs et tu re-édites avec la config du serveur ?

La config, c'est ce genre de truc
key = "configbaseDirectory";
        myEntry = ConfigurationEntry.find.where().eq("key",key).findUnique();
        if (myEntry == null) {
            final Configuratio

[2015-02-19 17:21] cyril-r commented on #57
Bon je vais devoir le faire a la main alors après le redéploiement de l'archive de travail et juste avant le lancement initial de play!.

Pour ton code, de quel fichier s'agit-il ?
Je vois /work/littocms/db/configs, est-ce que tu sait ou ça doit pointer sur le microserveur? j'ai cherché mais je n'ai pas trouvé la suite de répertoires ".../db/configs" dans mirmidon.

N'oublie pas une fois que tout

[2015-02-19 17:30] fretif commented on #57
non laisse tomber, je m'en occupe. Je te préviens quand j'ai commit le fix

---- Le jeu., 19 févr. 2015 18:21:33 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Bon je vais devoir le faire a la main alors après le redéploiement de l'archive de travail et juste avant le lancement initial de play!.
 Pour ton code, de quel fichier s'agit-il ?
 Je vois /work/littocms/db/configs, est-ce que

[2015-02-19 17:33] cyril-r commented on #57
Ok, sorry ce n'est pas que je ne veux pas le faire, mais je n'avais vraiment pas assez de détails dans ton post pour intervenir sur le serveur, ça aurait été sur GUI j'aurais de suite su ou ce code allait mais la :-)

[2015-02-19 18:32] fretif commented on #57
done !

---- Le jeu., 19 févr. 2015 18:33:53 +0100 cyril-r&lt;notifications@github.com&gt; a écrit ----

Ok, sorry ce n'est pas que je ne veux pas le faire, mais je n'avais vraiment pas assez de détails dans ton post pour intervenir sur le serveur, ça aurait été sur GUI j'aurais de suite su ou ce code allait mais la :-)
 —
Reply to this email directly or view it on GitHub.

_.-~-._.-~-._.-~-._.-~-

[2015-02-19 19:00] cyril-r commented on #57
redéploiement ok.

[2015-02-19 19:00] #57 closed, assigned to fretif

[2015-02-19 19:00] cyril-r commented on #56
je close le ticket, pour le moment c'est ok on verra plus tard s'il y a modifs.

[2015-02-19 19:00] #56 closed, assigned to fretif

[2015-02-19 19:02] cyril-r commented on #53
Ca semble fonctionner maintenant, par contre j'ai vu des warnings quand j'ai crée une config symphonie (mais elle est visiblement passée).

Tu veux un log plus complet ou c'est normal?

[2015-02-19 19:03] cyril-r commented on #53
Mauvais post, ce ticket est bien résolu.

[2015-02-19 19:03] #53 closed, assigned to fretif

[2015-02-19 19:03] cyril-r commented on #55
Ca semble fonctionner maintenant, par contre j'ai vu des warnings quand j'ai crée une config symphonie (mais elle est visiblement passée).

Tu veux un log plus complet ou c'est normal?

[2015-02-19 20:03] fretif commented on #53
OK super,
Je veux bien un log pour voir où se situent ces warnings.

Fabien

---- Le jeu., 19 févr. 2015 20:02:40 +0100 cyril-r &lt;notifications@github.com&gt; a écrit ----

Ca semble fonctionner maintenant, par contre j'ai vu des warnings quand j'ai crée une config symphonie (mais elle est visiblement passée).
 Tu veux un log plus complet ou c'est normal?
 —
Reply to this email directly or view

[2015-02-20 19:50] #55 closed, assigned to fretif

[2015-02-25 13:31] fretif opened #58 "[GUI] Config builder soumission"
Depuis l'interface sur p4
Rien ne se passe au clic du bouton submit sur le formulaire du config builder de Symphonie.

[2015-02-25 16:09] fretif opened #59 "TXY mode"
TXY =  2D horizontal map evolving in time

[2015-02-25 16:14] jhuon commented on #59
Fixed (commit 6a45abe)

[2015-02-25 16:14] #59 closed, assigned to jhuon

[2015-02-27 10:58] cyril-r opened #60 "Rename /toto to /session_check or something meaningful"
J'ai réalisé une fonction de détection de fermeture de session sur la GUI et je me base sur la route /toto pour vérifier que ma session est fermée, et que ce n'est pas l'accès à la ressource demandée qui m'est refusée.

Au final vu que cette méthode de session check côté API est utilisée par la GUI et donc importante, il faudrait changer la route pour quelque chose de plus significatif.

[2015-02-27 11:01] cyril-r opened #61 "WMS server not working"
Le serveur WMS ne fonctionne pas, @fretif est déjà au courant j'ouvre un ticket pour le suivi.

J'ai pushé des modifs sur le module explorer, mis à part la synchro avec la lib openlayers qui est encore en train d'être dev/testée, le module est presque terminé et l'absence du WMS va être remarquée :)

[2015-02-27 15:24] rchailan commented on #60
Ok. GET /authorized ?

[2015-02-27 15:26] cyril-r commented on #60
peu importe tant que ce n'est pas /toto :-)

[2015-02-27 15:30] rchailan commented on #60
done. Ca marchera au prochain redeploy. J'ai bien mis GET /authorized pour la route.

[2015-02-27 15:30] #60 closed, assigned to rchailan

[2015-02-27 15:31] #52 closed, assigned to rchailan

[2015-02-28 18:51] rchailan opened #62 "SGE submission job stuck in qw state"
À voir si ca vient de la définition de la topologie du cluster ?

[2015-03-03 09:21] cyril-r commented on #62
Fixed.

[2015-03-03 09:21] #62 closed, assigned to nobody

[2015-03-09 13:35] jhuon opened #63 "Retrieve a configuration by ID method is missing"

[2015-03-09 13:36] jhuon opened #64 "Retrieve model by ID method is missing"

[2015-03-09 13:37] jhuon opened #65 "Boolean for Image Preview and ZIP Archive"

[2015-03-09 13:38] jhuon commented on #65
Ne pas pouvoir réaggréger si le preview n'est pas généré (API renvoie une erreur)

[2015-03-09 14:01] jhuon opened #66 "Config WW3 not valid"
Failed at Workload submission :
Mon Mar 09 14:59:48 CET 2015): /home/mirmidon/m_configs/1bf5812a-1143-46a1-9a34-7406570a3326/Command-ll.err (Aucun fichier ou dossier de ce type)

[2015-03-09 14:09] jhuon commented on #66
Fixed

[2015-03-09 14:09] #66 closed, assigned to rchailan

[2015-03-09 14:42] jhuon opened #67 "Delete Configuration method missing"

[2015-03-09 14:52] jhuon opened #68 "Image Preview already exists"
When previewing image, error occured:
The configuration seems to already have 1 preview files. Abort. (2)

[2015-03-09 15:24] fretif commented on #65
done

 "has_preview_image_files": false,
    "has_raw_output_zip": false,
    "model_id": 1

[2015-03-09 15:24] fretif commented on #63
done
/configurations/2

[2015-03-09 15:24] #63 closed, assigned to fretif

[2015-03-09 15:55] fretif commented on #67
done
DELETE /configurations/9

[2015-03-09 15:57] fretif commented on #64
done
GET /models
GET /models/1

[2015-03-09 15:57] #65 closed, assigned to fretif

[2015-03-09 16:03] fretif commented on #68
Romain appelle la génération de preview automatiquement à la fin d'une commande.
Mais comme elle est asyncrhone, elle mets du temps à se faire et c'est pourquoi ton bouton s'affiche quand même. Cela devrait être régler avec le booléen hasPreviews....

[2015-03-10 10:06] jhuon commented on #64
Il y avait un identifiant machine pour les configs (s26-ecmwf-mercator et ww3-wind-level-current). Je me basais sur ces identifiant pour construire les routes et les vues. Est-ce possible de les réintégrer dans le json ?

[2015-03-10 11:07] jhuon commented on #67
10/03/2015 12:03:35 DELETE @ /configurations/1
Return 500 Internal Server Error
This exception has been logged with id <strong>6le2eaahk</strong>

[2015-03-10 14:17] jhuon opened #69 "Delete Fieldsite returns error"
[DELETE] /fieldsites/2

[code]

[2015-03-10 14:29] fretif commented on #67
Puis-je voir le log ?

---- Le mar., 10 mars 2015 12:07:12 +0100 Julien Huon&lt;notifications@github.com&gt; a écrit ----

Return 500 Internal Server Error
 &lt;!DOCTYPE html&gt;

 Error

 &lt;br&gt; html, body, pre {&lt;br&gt; margin: 0;&lt;br&gt; padding: 0;&lt;br&gt; font-family: Monaco, &amp;#39;Lucida Console&amp;#39;, monospace;&lt;br&gt; background: #ECECEC;&lt;br&gt; }&lt;br&gt; h1 {&lt;br

[2015-03-10 14:33] jhuon commented on #67
Est-ce que ça te va ça ?

[code]

[2015-03-10 14:37] fretif commented on #67
Non, il me faudrait le log de Play

[2015-03-10 14:39] jhuon commented on #67
@cyril-r Est-ce que tu peux fournir ça à Fab ?

[2015-03-12 13:30] cyril-r commented on #61
fixed with patched constellation provided by @fretif

[2015-03-12 13:30] #61 closed, assigned to fretif

[2015-03-12 13:32] cyril-r commented on #44
Fixed.
Paths are now stored in /etc/profile.d/mirmidon.sh file and applied at login.

[2015-03-12 13:32] #44 closed, assigned to cyril-r

[2015-03-12 17:56] #68 closed, assigned to nobody

[2015-03-12 17:59] jhuon commented on #58
Problème de plateforme : revoir htaccess et fichier de configuration (rewrite)

[2015-03-12 18:03] cyril-r commented on #37
Problème partiellement réglé par @fretif qui à corrigé a la main les bases coverages.
L'issue est maintenue pour la prochaine milestone.

[2015-03-12 18:03] #37 closed, assigned to fretif

[2015-03-12 23:21] rchailan opened #70 "Configuration should behave normally when fancy names are given"
This is not currently the case because the actual name is given as namefile for .err & .out of each run. Please fix it in making the latter as random numbers combination...